.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(0, 0, 0);
    display: inline-block;
}

.node-wall {
    background-color: black;
}

.node-finish {
    background-color: red;
}
  
.node-start {
    background-color: green;
}
